<div class="container">
    <div class="navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/homeAdmin" class="navbar-brand"> Home </a>
                    </li>
                    <li clas="dropdown">
                        <a href="#/contatos" class="navbar-brand"> Contatos </a>
                    </li>
                    <li clas="dropdown">
                        <a href="#/empresas" class="navbar-brand"> Empresas </a>
                    </li>
                </ul>    
            </div>
                            
        </div>
    </div>
    <br>
    <br>
    <br>
    <h1 class="text-center">Contato</h1>

    <p ng-show="mensagem.texto">{{mensagem.texto}}</p>

    <form ng-submit="salva()">
        
        <div class="form-group">
            <label for="nome">Nome completo</label>
            <input type="text" class="form-control" id="nome" name="nome" required ng-model="contato.nome">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" id="email" placeholder="email@exemplo.com" name="email" ng-model="contato.email" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required ng-model="contato.senha">
        </div>

        <div class="form-group">
            <label for="empresa">Empresa</label>
            <select id="empresa" class="form-control" ng-model="contato.empresa" ng-options="empresa.nome for empresa in empresas track by empresa.nome"></select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#/contatos" class="btn btn-default">Voltar</a>
        </div>
    </form>
        
</div>