<div class="container">
    <div class="navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/home" class="navbar-brand"> Home </a>
                    </li>
                    <li clas="dropdown">
                        <a href="#/contatos" class="navbar-brand"> Contatos </a>
                    </li>
                    <li clas="dropdown">
                        <a href="#/empresas" class="navbar-brand"> Empresas </a>
                    </li>
                </ul>    
            </div>
                            
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="navbar-collapse collapse" id="navbar-main">
        <div class="text-right">
            <h3><span class="fa fa-user"></span>  <span ng-repeat= "user in users">Usuário Logado: {{user.local.nome}}</span>
                     <a href="/logout" class="btn btn-default btn-sm">Sair</a></h3>
        </div>
    </div>
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Perfil</h1>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <div class="well">
                
                <h3><span class="fa fa-user"></span><strong> Nome: </strong></th><span ng-repeat= "user in users">{{user.local.nome}}</span></h3>
                <br>    
                <span class="fa fa-user"></span><strong> E-mail: </strong></th><span ng-repeat= "user in users">{{user.local.email}}</span>
                
            </div>
          </div>
    </div>
</div>