<div class="container">
    <div class="navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/homeContato" class="navbar-brand"> Home </a>
                    </li>
                    <li clas="dropdown">
                        <a href="/chatContato" class="navbar-brand"> Chat </a>
                    </li>
                </ul>    
            </div>
                            
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="navbar-collapse collapse" id="navbar-main">
        <div class="text-right">
            <h3><span class="fa fa-user"></span>  <span>Usuário Logado! </span>
                     <a href="/logout" class="btn btn-default btn-sm">Sair</a></h3>
        </div>
    </div>
   
    </div>
</div>